input {
  border-radius: $border-radius;
  height: 3em;
  padding: 0 10px;
}

input[type=search],
input[type=email] {
  width: 200px;
  border: 1px solid $black;
}

input[type=submit] {
  cursor: pointer;
  padding: 0 2em;
  background-color: $primary;
  color: $white;
  border: 1px solid $primary;
  transition: $transition;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.wpcf7-spinner {
  display: none;
}

.search,
.error404 {
  form {
    display: flex;
    margin-top: 10px;
  }
}

.error404 {
  input[type=search] {
    width: 100%;
    margin-bottom: 10px;
  }
}

.footer-contact {
  &__label {
    display: inline-block;
    margin-bottom: 5px;
  }

  &__label input,
  &__label textarea {
    background-color: $white;
    border-radius: 5px;
    min-height: 40px;
    width: 280px;
    border: 1px solid $white;
    padding: 5px 15px;
    color: #fff;
    font-family: $ff-primary;

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
  }

  &__label input[type=submit] {
    width: min-content;
    min-width: 140px;
    font-weight: 700;
    background-color: $blue-dark;
    border: 1px solid $blue-dark;
    min-height: 34px;
  }
}
