input {
  height: 3em;
  padding: 0 10px;
}

input[type=search],
input[type=email] {
  width: 200px;
  border: 1px solid $black;
}

input[type=submit] {
  cursor: pointer;
  padding: 0 2em;
  background-color: $primary;
  color: $white;
  border: 1px solid $primary;
  transition: $transition;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.wpcf7-spinner {
  display: none;
}

.search,
.error404 {
  form {
    display: flex;
    margin-top: 10px;
  }
}

.error404 {
  input[type=search] {
    width: 100%;
    margin-bottom: 10px;
  }
}
