.block-image-3x-split {
  position: relative;
  padding-bottom: 0;
  overflow: hidden;

  &-h__col {
    color: $primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-top: 0;
    position: relative;
    z-index: 5;
  }

  article {
    padding-bottom: 35px;
  }

  &-h__wrapper {
    width: 100%;
    min-height: 500px;
    padding-top: 125px;
    padding-bottom: 125px;

    @include medium-up {
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }

  .grid__outer {
    grid-template-columns: 1fr;

    @include medium-up {
      grid-template-columns: 45% 55%;
      align-items: center;
    }

    &.isSwitched {
      @include medium-up {
        grid-template-columns: 55% 45%;
        align-items: center;
      }
    }
  }

  &-h__content {
    margin-left: 10%;

    @include small-up {
      width: 80%;
    }

    &.isSwitched {
      @include medium-up {
        order: 2;
      }
    }

    .heading--2 {
      text-align: left;
      max-width: 600px;
    }

    &-title {
      color: $primary;
      font-weight: 700;
      // padding-bottom: 40px;
    }

    p {
      font-size: $font-size-14;
      line-height: 20px;
    }
  }

  &-h__top-images {
    width: 100%;
    position: relative;
    max-width: 320px;
    margin: 0 auto;

    @include small-up {
      max-width: 600px;
    }

    &--top {
      width: 100%;
      display: block;
      height: auto;
      margin: auto;

      // @include large-up {
      //   width: 500px;
      // }
    }

    &--left {
      width: auto;
      position: absolute;
      top: 5%;
      left: -5%;
      z-index: 1;
      display: none;

      @include xl-up {
        display: block;
        left: 0;
        width: 280px;
      }

      @include xl-up {
        left: -80px;
      }

      &.up {
        top: -5%;
      }

      &_inner {
        // max-width: 120px;
        width: auto;
        margin: auto;
        height: auto;
        display: block;

        // @include small-up {
        //   max-width: 300px;
        // }
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &--right {
      width: auto;
      position: absolute;
      top: 5%;
      right: -5%;
      z-index: 1;
      display: none;

      @include xl-up {
        display: block;
        right: 0;
        width: 280px;
      }

      @include xl-up {
        right: -80px;
      }

      &.up {
        top: -5%;
      }

      &_inner {
        width: auto;
        margin: auto;
        height: auto;
        display: block;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &--bottom-left {
      position: absolute;
      left: -10%;
      bottom: 5%;
      display: none;

      @include medium-up {
        display: block;
        left: 0;
      }

      @include xl-up {
        left: -10%;
      }

      &.down {
        bottom: -5%;
      }

      &_inner {
        width: auto;
        height: auto;
      }
    }

    &--bottom-right {
      position: absolute;
      right: -10%;
      bottom: 5%;
      display: none;

      @include medium-up {
        display: block;
        right: 0;
      }

      @include xl-up {
        right: -10%;
      }

      &.down {
        bottom: -5%;
      }

      &_inner {
        width: auto;
        height: auto;
      }
    }
  }

  &__tartan {
    max-width: 110px;
    position: absolute;
    right: -35px;
    bottom: -65px;

    @include medium-up {
      max-width: 210px;
      right: -75px;
      bottom: -75px;
    }
  }

  .button-wrapper {
    grid-template-columns: 1fr;
    width: 60%;

    &.one {
      @include small-up {
        width: 40%;
      }
    }

    &.two {
      @include small-up {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        width: auto;
      }
    }

    &.three {
      @include small-up {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        width: auto;
      }
    }

    a {
      margin: 0 10px 10px 0;
    }
  }

  .btn {
    position: relative;
    cursor: pointer;
    // font-weight: 600;
    z-index: 9;

    &:hover {
      color: $black !important;
    }
  }
}

.isSwitched .block-image-3x-split-h__content {
  margin-left: 5%;
  margin-right: 5%;
}
