.block-banner-1 {
  background-size: cover;
  // padding: 125px 0 184px;
  position: relative;
  background-position: center;
  min-height: $banner-height-mobile;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include medium-up {
    // padding: 142px 0 220px;
    min-height: $banner-height-desktop;
  }

  .header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-background-color
    // background-color: $black;
    // opacity: 0.6;
  }

  .flex {
    flex-direction: column;
    align-items: flex-start;

    div {
      z-index: 10;
    }

    h1 {
      color: $white;
      z-index: 10;

      @include medium-up {
        width: 50%;
        margin-bottom: 27px;
      }
    }

    p {
      color: $white;
      font-size: $font-size-18;
      line-height: 28px;
      margin-bottom: 48px;
      font-weight: 500;

      @include medium-up {
        width: 50%;
        margin-bottom: 32px;
      }
    }
  }
}
