.form-cont {
  @include small-up {
    margin-top: -60px;
  }

  @include large-up {
    margin-top: -40px;
  }

  @include xl-up {
    margin-top: -200px;
  }
}

.block-map-split-2 {
  margin: 20px auto;

  .grid {
    gap: 0;
  }

  .grid__outer {
    min-height: 50vh;

    @include medium-up {
      .grid__outer {
        grid-template-columns: 1fr 1fr;
      }
    }

    &.right {
      .map-wrapper {
        order: 2;
      }

      .form-wrapper {
        order: 1;
      }
    }
  }

  .info-cont {
    margin: 20px 0;
  }

  .info-div {
    padding: 2px 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      -moz-border-radius: 7.5px;
      -webkit-border-radius: 7.5px;
      border-radius: 7.5px;
      background-color: $brown-medium;
      margin-right: 10px;
    }

    a {
      cursor: pointer;
      color: $white;
    }
  }

  p {
    margin: auto;
  }

  .iframe-cont {
    order: 1;

    iframe {
      width: 100%;
      height: 300px;
      margin-bottom: -8px;
      border-radius: $border-radius;
    }

    @include medium-up {
      order: 0;
    }
  }

  label {
    display: inline-block;
    margin-bottom: 5px;
  }

  .map-wrapper,
  .form-wrapper {
    height: 100%;
    padding: 30px;

    @include small-up {
      padding: 60px;
    }
  }

  .map-wrapper {
    background-color: $black;
    color: $white;
  }

  h3 {
    font-size: $font-size-44;
    margin-bottom: 20px;
    font-family: $heading-font-family;
  }

  h4 {
    font-size: $font-size-22;
    margin-bottom: 20px;
  }

  .form-wrapper {
    background-color: $brown-light;
  }

  .form-block {
    width: 100%;

    input[type=text],
    input[type=email],
    input[type=tel],
    textarea {
      border: 1px solid $brown-medium;
      width: 100%;
      margin-bottom: 15px;
      box-shadow: inset 3px 3px 0 0 rgba(204, 204, 204, 0.6);
    }

    textarea {
      height: 250px;
    }

    input[type=submit] {
      border-color: $black;

      &:hover {
        cursor: pointer;
        color: $black;
        box-shadow: 0 0 0 2em $white inset;
      }
    }
  }

  .form-submit {
    text-align: right;
  }

  @include medium-up {
    margin: auto;
  }
}
