.block-4 {
  .grid {
    gap: 0;
  }

  &__picture {
    background: $primary;
    overflow: hidden;
    cursor: pointer;

    &:first-child {
      order: 2;
    }

    @include medium-up {
      &:first-child {
        order: 0;
      }
    }

    img {
      /* stylelint-disable */
      aspect-ratio: 2/1;
      /* stylelint-enable */
      width: 100%;
      object-fit: cover;

      @include medium-up {
        /* stylelint-disable */
        aspect-ratio: 1; 
        /* stylelint-enable */
      }

      @include xl-up {
        /* stylelint-disable */
        aspect-ratio: 2/1; 
        /* stylelint-enable */
      }
    }
  }

  &__container {
    transition: $transition;
  }

  &__picture:hover .block-4__container {
    opacity: 0.7;
    transform: scale(1.2);
  }

  &__text {
    max-width: 50rem;
    color: $body-text-color;
    font-size: $font-size-18;
    line-height: 28px;
    padding-bottom: 2rem;
  }

  &__info {
    padding: 2rem 1rem;

    @include xl-up {
      padding: 0 5rem;
    }

    @include xxl-up {
      padding: 0 10rem;
    }
  }
}
