.block-image-wysiwyg {
  .grid__outer {
    grid-template-columns: 1fr;

    @include medium-up {
      grid-template-columns: 55% 45%;
    }
  }

  &__content {
    text-align: center;

    h1 {
      font-size: $font-size-28;
      line-height: inherit;
      margin: 20px 0;

      @include small-up {
        margin: 25px 0;
      }

      @include medium-up {
        font-size: $font-size-44;
        line-height: 50px;
      }
    }

    h2 {
      font-size: $font-size-22;
      line-height: inherit;
      margin: 20px 0;

      @include small-up {
        margin: 20px 0;
      }

      @include medium-up {
        font-size: $font-size-28;
        line-height: 30px;
      }
    }

    h3 {
      font-size: $font-size-18;
      line-height: inherit;
      margin: 10px 0;

      @include small-up {
        margin: 0 0 15px;
      }

      @include medium-up {
        font-size: $font-size-22;
      }
    }

    p {
      margin-bottom: 10px;
    }
  }

  &__btns {
    padding-top: 1.5rem;

    a {
      margin-bottom: 20px;
    }
  }

  img {
    height: 100px;
    width: auto;
    margin: auto;
  }
}
