.header {
  position: relative;
  background-color: transparent;
  transition: all 0.3s ease-out;
  z-index: 9999;

  &__wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $nav-bg-light;
    box-shadow: $box-shadow-light;
  }

  .hamburger-box {
    width: 30px;
    height: 16px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 30px;
    height: 4px;
    background-color: $hamburger-light;
  }

  .main-navigation ul {
    a,
    a:focus,
    a:visited {
      color: $nav-font-dark;
    }
  }

  &.parked {
    .header__wrapper {
      background-color: transparent;
      box-shadow: none;

      @include medium-up {
        background-color: $nav-bg-dark;
      }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $hamburger-light;
    }

    .main-navigation ul {
      a,
      a:focus,
      a:visited {
        color: $nav-font-light;
      }
    }
  }

  &.parked.is-active {
    .header__wrapper {
      background-color: $nav-bg-light;
      box-shadow: none;

      @include medium-up {
        background-color: $nav-bg-dark;
      }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $hamburger-light;
    }

    .main-navigation ul {
      a,
      a:focus,
      a:visited {
        color: $nav-font-dark;
      }
    }
  }

  .navbar-item {
    img {
      max-width: 55px;
      height: auto;
    }
  }
}

#custom-nav {
  margin: 0.6rem 0.2rem;

  .site-header-menu {
    display: none;
  }

  .main-navigation {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-right: 40px;
        padding-bottom: 15px;
        cursor: pointer;

        &:hover > ul {
          display: block;
        }

        &:first-child {
          padding-top: 15px;
        }

        &.book-btn a {
          color: $button-text-color !important;
          border: 2px solid transparent;
          text-transform: none;

          &:hover {
            border-color: $button-bg-color;
            color: $button-text-color-hover !important;
            background-color: $button-bg-color-hover;
          }
        }

        ul {
          li {
            padding-bottom: 0;
          }
        }
      }

      ul {
        display: none;
        margin-top: 0;
        margin-left: 25px;

        ul {
          display: none;
          margin-left: 25px;
        }
      }

      a {
        color: $nav-font-dark;
        border-bottom: 3px solid transparent;
        text-decoration: none;
        font-size: $font-size-22;

        &:visited {
          border-bottom: 3px solid transparent;
          text-decoration: none;
        }

        &:hover {
          border-bottom: 3px solid;
        }
      }
    }

    a:focus {
      outline: 1px dotted grey;
      outline-offset: 2px;
    }
  }

  .no-js .site-header-menu,
  .site-header-menu.toggled-on {
    display: block;
  }

  .site-header-menu.toggled-on {
    margin-top: 10px;
  }

  .no-js .main-navigation ul,
  .main-navigation ul .sub-menu.toggled-on {
    display: block;
  }

  button {
    &.dropdown-toggle,
    &.menu-button {
      display: inline;
      background-color: transparent;
      border: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      content: "";
    }

    &.dropdown-toggle {
      position: absolute;
      right: 10px;
      margin-left: 10px;
      padding: 7px 5px 2px;
    }

    &.dropdown-toggle:focus,
    &.menu-button:focus {
      outline: 1px dotted transparent;
      outline-offset: 2px;
    }
  }

  .dropdown-toggle {
    &::after {
      width: 14px;
      height: 10px;
      content: "";
      background-image: url(../images/icons/arrow-down-banner.svg);
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 12px;
      font-size: 1.3rem;
      font-weight: bold;
    }

    &.toggled-on::after {
      font-size: 1.3rem;
      font-weight: bold;
      background-image: url(../images/icons/arrow-up-banner.svg);
    }
  }

  .menu-button {
    float: none;
    padding: 0;
    font-size: 1.5rem;

    &::before,
    &.toggled-on {
      font-weight: bold;

      &::before {
        margin-right: 5px;
        padding-top: -10px;
      }

      // &::after {
      //   background-image: url(../images/icons/arrow-up-banner.svg);
      // }
    }
  }

  .no-js .menu-button {
    display: none;
  }

  // Screen readers
  .screen-readers {
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-break: normal !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  .navbar-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Desktop media query */
  @include medium-up {
    button.menu-button {
      display: none;
    }

    .menu-container {
      display: flex;
      max-width: 100%;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
    }

    .site-header-menu {
      display: block;
      margin-left: 10px;
    }

    .main-navigation ul {
      position: relative;
      float: left;
      display: flex;
      align-items: baseline;

      ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        margin-left: 0;
        padding: 0;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: $nav-bg-light;
        border: 1px solid $nav-bg-light;
        z-index: 999;

        li {
          float: none;
          width: 220px;
          padding: 4px 10px;
        }

        ul {
          top: -1px;
          left: 100%;
          margin-left: 0;
          margin-top: -5px;
        }
      }

      li {
        position: relative;
        float: left;
        margin: 0;
        padding: 10px;
        margin-right: 50px;

        &:first-child {
          padding-top: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }

      a {
        font-size: $font-size-18;
      }
    }

    .no-js .main-navigation ul ul {
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      margin-left: 0;
      padding: 0;
      padding-bottom: 5px;
      padding-top: 5px;
      background-color: $nav-bg-light;
      border: 1px solid $nav-border;
      z-index: 999;

      ul {
        top: -1px;
        left: 100%;
        margin-left: 0;
        margin-top: -5px;
      }

      li {
        float: none;
        width: 220px;
        padding: 4px 10px;
      }
    }

    ul.sub-menu .dropdown-toggle {
      position: absolute;
      right: 10px;
      top: 4px;
    }

    .parked.main-navigation ul {
      ul li a {
        color: $nav-font-dark;
      }

      a {
        color: $nav-font-light;
      }

      .dropdown-toggle::after,
      .dropdown-toggle.toggled-on::after {
        width: 14px;
        height: 10px;
        content: "";
        background-image: url(../images/icons/arrow-down-banner-light.svg);
        display: inline-block;
        top: -12px;
        right: 0;
        left: 0;
        bottom: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-left: -5px;
      }

      .dropdown-toggle.toggled-on::after {
        background-image: url(../images/icons/arrow-up-banner-light.svg);
      }
    }

    button.dropdown-toggle {
      position: absolute;
      right: auto;
    }
  }
}
