*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $body-text-color;
  background-color: $white;
  font-family: "Roboto", sans-serif;
  font-size: $font-size-base;
  line-height: 28px;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

p {
  font-size: $font-size-15;
  line-height: 24px;
  margin: 15px 0;
}

img {
  width: 100%;
  height: auto;
  display: block;

  &.size-icon {
    width: auto;
    display: inline-block;
  }
}

/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

a {
  text-decoration: none;

  &:focus {
    outline: 1px solid transparent;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    font-size: $font-size-base;
    text-decoration: none;

    &:focus {
      outline: 1px solid transparent;
    }
  }
}
