/** Colors **/
$primary:             #2caeba;
$gray-dark:           #102a42;
$gray-light:          #d3d3d3;
$ghost-white:         #f8f8ff;
$white:               #fff;
$black:               #000;
$blue-light:          #617d98;
$blue-dark:           #173c5e;
$secondary:           $ghost-white;

/* link color */
$link:                $primary;

/* Body text color */
$heading-text-color: $blue-dark;
$body-text-color: $blue-light;

/* fonts */
$ff-primary: "Rajdhani", sans-serif;
$ff-secondary: "EB Garamond", serif;
$letter-spacing: 0.25rem;
$font-size-base: 1rem;
$font-size-52: $font-size-base * 3.25; // ~52px
$font-size-44: $font-size-base * 2.75; // ~44px
$font-size-28: $font-size-base * 1.75; // ~28px
$font-size-22: $font-size-base * 1.375; // ~22px
$font-size-18: $font-size-base * 1.125; // ~18px
$font-size-15: $font-size-base * 0.9375; // ~15px
$font-size-12: $font-size-base * 0.75; // ~12px

/* transitions */
$transition: all 0.3s linear;

// Radius
$border-radius: 5px;

/* shadows */
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

/** Box shadow */
$box-shadow-dark: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
$box-shadow-light: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

// Breakpoints
$bp-xxsmall: "320px";
$bp-xsmall: "480px";
$bp-small: "640px";
$bp-medium: "998px";
$bp-large: "1024px";
$bp-xl: "1280px";
$bp-2xl: "1536px";

/* wp classes margin spacer */
$spacer: 20;

/** Heading */
$nav-bg-light: rgba(255, 255, 255, 0.9);
$nav-bg-dark: rgba(0, 0, 0, 0.1);
$nav-font-dark: $gray-dark !important;
$nav-font-light: $gray-light !important;
$nav-border: $gray-light;

//Hamburger
$hamburger-light: $gray-light;
$hamburger-dark: $gray-dark;

//Footer
$footer-fonts-color: $body-text-color;
$footer-fonts-size: $font-size-base * 0.75; // ~12px
$footer-line-height: 15px;
