// Colors
$primary:             #2caeba;
$gray-dark:           #3a3b3c;
$gray-light:          #d3d3d3;
$ghost-white:         #f8f8ff;
$white:               #fff;
$black:               #000;
$blue-light:          #aae0ea;
$blue-dark:           #173c5e;
$green-light:         #1c6061;
$gold:                #d7bd70;
$secondary:           $ghost-white;

// link color
$link:                $blue-dark;
$link-hover:          $black;

// Body text color
$heading-text-color: $blue-dark;
$body-text-color: $blue-dark;

// Buttons
$button-bg-color: $blue-dark;
$button-bg-color-hover: $ghost-white;
$button-text-color: $white;
$button-text-color-hover: $black;
$button-border-color: transparent;
$button-border-color-hover: $gray-dark;

// Radius
$border-radius: 5px;

// fonts
$ff-primary: "Rajdhani", sans-serif;
$ff-secondary: "EB Garamond", serif;
$font-size-base: 1rem;
$font-color: $gray-dark;
$letter-spacing: 0.2rem;
$font-size-160: $font-size-base * 10; // ~160px
$font-size-80: $font-size-base * 5; // ~80px
$font-size-71: $font-size-base * 4.4375; // ~71px
$font-size-60: $font-size-base * 3.75; // ~60px
$font-size-52: $font-size-base * 3.25; // ~52px
$font-size-44: $font-size-base * 2.75; // ~44px
$font-size-40: $font-size-base * 2.5; // ~40px
$font-size-28: $font-size-base * 1.75; // ~28px
$font-size-22: $font-size-base * 1.375; // ~22px
$font-size-18: $font-size-base * 1.125; // ~18px
$font-size-15: $font-size-base * 0.9375; // ~15px
$font-size-14: $font-size-base * 0.875; // ~14px
$font-size-12: $font-size-base * 0.75; // ~12px
$font-size-10: $font-size-base * 0.625; // ~10px

// transitions
$transition: all 0.3s linear;

// overlay background color
$overlay-background-color: rgba(0, 0, 0, 0.6);

// shadows

$button-shadow-light: 0 1px 3px rgba(0, 0, 0, 0.2);
$button-shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);

// Box shadow
$box-shadow-dark: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
$box-shadow-light: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

// Breakpoints
$bp-xxsmall: "320px";
$bp-xsmall: "480px";
$bp-small: "640px";
$bp-medium: "998px";
$bp-large: "1024px";
$bp-xl: "1280px";
$bp-1xl: "1385px";
$bp-2xl: "1536px";

// wp classes margin spacer
$spacer: 20;

// Nav 
$nav-bg-light: rgba(255, 255, 255, 0.9);
$nav-bg-dark: rgba(0, 0, 0, 0.1);
$nav-font-dark: $gray-dark !important;
$nav-font-light: $gray-light !important;
$nav-border: $gray-light;

// Hamburger
$hamburger-light: $primary;
$hamburger-dark: $primary;

// layout
$blog-container-width: 900px;

// Banner
$banner-height-desktop: 70vh;
$banner-height-mobile: 80vh;
$banner-h1-size-desktop: $font-size-52;
$banner-h1-size-mobile: $font-size-44;
$banner-h2-size-desktop: $font-size-44;
$banner-h2-size-mobile: $font-size-28;

// Headings
$heading-font-family: $ff-secondary;

// Logo height
$logo-height: 80px;

// Footer
$footer-fonts-color: $body-text-color;
$footer-fonts-size: $font-size-base * 0.75; // ~12px
$footer-line-height: 15px;
$footer-font-size: $font-size-14;
